.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    background-color: rgb(232, 232, 232);
    border-radius: 15px;
}
.logo {
    width: 40px;
}
.nav-ul {
    display: flex;
    justify-content: space-between;
}
li > a{
    font-size: 17px;
    color: rgb(32, 103, 143);
    margin-right: 30px;
}
.title {
    color: rgb(32, 103, 143);
    font-weight: 600;
    margin: 5px 50px;
    font-family: 'Kaushan Script', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title > h1 {
    font-size: 25px;
    margin-left: 7px;
}
section {
    margin: 50px 0;
}
/*header*/
/*section 1*/
/*sign in*/
.auth {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.sign-in-form {
    background-color: rgb(233, 233, 233);
    padding: 10px;
    border-radius: 10%;
}
.sign-in-info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.sign-in-info >label {
    margin-bottom: 5px;
}
.sign-in-info >input {
    width: 200px;
    height: 30px;
    padding: 0 10px;
    border-radius: 15px;
}
.isign-in-nput::placeholder {
    color: seagreen;
}
.sign-in-submit {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(32, 103, 143);
    border: none;
    color: seashell;
}
/*registration*/
.contact-container {
    margin: 50px 0;
}
.contact-container h4{
    font-size: 14px;
    font-weight: bold;
    color: rgb(32, 103, 143);
    margin-left: 680px;
}
.contact-container  h2 {
    font-size: 42px;
    font-weight: bolder;
    margin-left: 625px;
    margin-top: 20px;
}
.container {
    margin: 50px auto;
    width: 800px;
    height: 475px;
    background-color: rgb(233, 233, 233);
    box-shadow:  3px 3px 5px rgb(32, 103, 143);
    border-radius: 8px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 310px;
    padding: 20px 0;
}
.form input {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    padding: 0 20px;
}
.button {
    background-color: rgb(32, 103, 143);
    border: none;
}
/*section 1 end*/
/*section 2*/
.us-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: 0 auto;
}
.card-c {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-c {
    background-color: rgb(32, 103, 143);
    width: 59px;
    height: 59px;
    border-radius: 50%;
    display: flex;
}
.img-c img {
    width: 25px;
    margin: 0 auto;
}
.card-c h3 {
    margin-top: 9px;
}
.card-c p {
    margin-top: 6px;
    color: rgb(163, 161, 161);
}
/*section 2 end*/

/* footer */
.footer-section {
    background-color: #A6ADB4;
}
.footer {
    width: 1160px;
    padding: 50px 0;
    margin: 0 auto;
}
.footer-text-div {
    width: 486px;
    height: 84px;
    display: inline-block;
    vertical-align: middle;
}
.footer-logo {
    width: 40px;
    height: 40px;
    margin-right: 50px;
}
.div-footer-1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    width: 62px;
    height: 84px;
    color: rgb(32, 103, 143);
    margin-right: 60px;
}
.div-text {
   margin-bottom: 8px;
}
.footer-icon {
   vertical-align: middle;
   display: inline-block;
   width: 160px;
   height: 16px;
   margin-left: 500px;
}
.icon {
   margin-right: 21px;
   vertical-align: middle;
   display: inline-block;
}
.footer-p-2 {
    font-size: 11px;
    color: rgb(32, 103, 143);
    vertical-align: middle;
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 15px;
}